{{ pattern }}
{
    # rotate every day
    daily
    # use date as filename suffix
    dateext
    # don't error out if file's missing
    missingok
    # retention
    rotate {{ eff_retention | int }}
    # keep and truncate the original file
    copytruncate

    # zstd compression
    compress
    compresscmd /bin/zstd
    uncompresscmd /bin/unzstd
    compressext .zst
    compressoptions -10 -T0

    # we copy so compress right away
    nodelaycompress
    # ignore empty log
    notifempty
}
